<div id="top-header">

  <span class="siteName">
    <a href="/" title="CSE Motors Home">CSE Motors</a>
  </span>

  <div id="tools">
    <a href="#" title="My Account">My Account</a>
  </div>

</div>